.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

.headerTitle {
    font-size: 18px;
    font-weight: 700;
}

.categories {
    margin-top: 24px
}

.tabHeaderSearch {
    width: 260px;
}

.tabHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.space {
    flex-grow: 1;
}

.questionLink {
    color: #282c34;
    width: 500px;
}

.questionLink:hover  {
    color: #40a9ff;
}

.row {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table {
    flex-grow: 1;
}

.card {
    padding: 16px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.multiLineText {
    white-space: pre-wrap;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardTitle {
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardMetaTitle {
    color: #8C8C8C;
    font-weight:  600;
    font-size: 11px;
}

.cardActionButton {
    position: absolute;
    right: 8px;
    bottom: 16px;
}

.category {
    font-weight: 600;
    font-size: 12px;
    margin-left: 4px;
}

.personal {
    font-weight: 600;
    font-size: 15px;
}

.community {
    font-weight: 600;
    font-size: 15px;
}

.infoAlert {
    font-size: 16px;
}