.rootContainer {
    padding: 40px;
}

.cardSpace {
    margin-top: 32px;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.divFlexGrow {
    flex-grow: 1;
}

.test {
    padding-left: 0;
    margin-left: 0;
}

.questionDragging {
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 16px;
    z-index: 1000;
}

.questionDragging td {
    visibility: visible;
    z-index: 1000;
}

.questionDragging .tagsVisible {
    visibility: hidden;
}

.questionDragging .removeVisible {
    visibility: hidden;
}

.questionDragging .dragVisible {
    visibility: visible;
    z-index: 1000;
}

.questionDragging .questionVisible {
    visibility: visible;
    z-index: 1000;
    padding-left: 32px;
    padding-right: 16px;
    flex-grow: 1;
}

.reorderIcon {
    cursor: grab;
    font-size: 20px;
}

.removeIcon {
    cursor: pointer;
    width: 32px;
}

.questionsCard {
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    margin-top: 16px;
}

.questionAddContainer {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.groupTitle {
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.clickableTag {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.85);
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
}

.header {
    display: flex;
}

.headerTitleContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.questionTextArea {
    padding-left: 0;
    resize: none;
}
