:root {
    --drawer-header-height: 60px;
    --table-header-height: 80px;
    --table-padding-vertical: 24px;
    --table-scroll-height: calc(100vh - var(--drawer-header-height) - var(--table-header-height) - 2 * var(--table-padding-vertical))
}

.pageHeader {
    background-color: white;
}

.divider {
    margin-bottom: 0;
    margin-top: 0;
}

.questionWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.questionBody {
    padding-left: 12px;
    flex-grow: 1;
}

.space {
    flex-grow: 1;
}

.addIcon {
    padding-top: 16px;
    padding-bottom: 16px;
}

.removeIcon {
    cursor: pointer;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.row {
    cursor: pointer;
}

.cardHeaderSticky {
    height: var(--table-header-height);
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
}

.cardContainerCompetenceArea {
    padding: var(--table-padding-vertical) 12px var(--table-padding-vertical) 24px;
}

.cardContainerQuestionBank {
    padding: var(--table-padding-vertical) 24px var(--table-padding-vertical) 12px;
}

.table {
    height: var(--table-scroll-height);
    overflow-y: scroll;
}