.modalFooter {
    display: flex;
    margin-top: 24px;
}

.dangerButtonHolder {
    flex-grow: 1;
}

.header {
    margin-bottom: 36px;
}

.assessmentAutocomplete {
    width: 100%;
    margin-top: 8px;
}

.taskInput {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
}

.orText {
    text-align: center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.uploadText {
    font-weight: 500;
    color: #8C2BE3;
}

.uploadIcon {
    margin-bottom: 16px;
}