.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 10;
    width: calc(100% - 200px); /* side menu width is 200px */
    position: fixed;
    top: 0;
}

.headerTitle {
    font-size: 18px;
    font-weight: 700;
    margin-left: 8px;
}

.multiLineText {
    white-space: pre-wrap;
}

.rootContainer {
    margin-top: var(--header-height-with-padding);
}

.summary {
    margin-top: 64px;
}

.questionArea {
    margin-top: 64px;
}

.space {
    width: 100%;
}

.divAlert {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.divHorizontalCenter {
    display: flex;
    align-items: center;
}

.divVerticalCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dotSmall {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}

.card {
    height: 280px;
    overflow: scroll;
}