.pageHeader {
    background-color: white;
    text-align: center;
}

.search {
    width: 400px
}

.card {
    padding: 16px
}

.cardTitle {
    font-weight:  600;
    font-size: 19px;
    margin-top: 12px;
}

.cardMetaTitle {
    color: #8C8C8C;
    font-weight:  600;
    font-size: 11px
}

.cardMetaValue {
    font-weight:  600;
    font-size: 19px
}

.author {
    color: #8C8C8C;
    font-size: 14px;
}

.category {
    font-weight: 600;
    font-size: 11px;
    margin-left: 4px;
}