.categories {
    margin-top: 24px
}

.tabHeaderSearch {
    width: 260px;
}

.tabHeader {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.space {
    flex-grow: 1;
}

.questionLink {
    color: #282c34;
    width: 500px;
}

.questionLink:hover  {
    color: #40a9ff;
}

.tag {
    cursor: pointer;
}