:root {
    --logo-height: 48px;
    --menu-height: calc(100% - var(--logo-height));
    --color-primary: #8C2BE3;
    --color-primary-50: #F4EAFC;
    --color-primary-100: #E8D5F9;
    --color-background: #F9FAFB;
    --color-strong: #541A88;
}

.pageHeader {
    background-color: white;
    text-align: center;
}

.pageContent {
    padding-left: 24px;
    padding-right: 24px;
    overflow-y: auto;
    background-color: var(--color-background);
}

.globalHeader {
    padding: 0;
    border-bottom: 1px solid rgb(235, 237, 240);
}

.globalSider {
    padding-top: 20px;
    border-right: 1px solid rgb(235, 237, 240);
    z-index: 999;
}

.globalSiderContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    overflow: scroll;
}

.globalLayout {
    height: 100vh
}

.divider {
    background-color: #E5E7EB;
    margin-top: 24px;
    margin-bottom: 24px;
}

.logoHolder {
    margin-left: 20px;
}

.menu {
    border: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 20px;
}

.space {
    flex-grow: 1;
}

.menuItem {
    display: flex;
    align-items: center;
    font-weight: 500;
    border-radius: 6px;
}

.menuItemProfile {
    display: flex;
    align-items: center;
    font-weight: 400;
    border-radius: 6px;
    padding-left: 0;
    margin-left: 0;
}

.newInterviewButton {
    font-weight: 500;
    margin-bottom: 24px;
}

.profileHolder {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.profileButton {
    margin-left: 12px;
}

.avatar {
    background-color: var(--color-primary);
}

.versionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
}

.whatsNew {
    color: #6B7280;
    font-size: 13px;
    margin-left: 24px;
}

.version {
    color: #6B7280;
    font-size: 13px;
    margin-right: 24px;
}