.multiLineText {
    white-space: pre-wrap;
}

.questionCell {
    white-space: pre-wrap;
    cursor: pointer;
}

.mainCol {
    background-color: white;
    padding: 24px;
}

.questionArea {
    margin-top: 64px;
}

.space {
    width: 100%;
    padding-top: 24px;
}

.more {
    position: absolute;
    top: 24px;
    right: 24px;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionsHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.divider {
    border-bottom: 1px solid #f0f0f0;
}

.tag {
    color: rgba(0, 0, 0, 0.85);
}

.assessmentButton {
    /*width: 140px;*/
    height: 36px;
    padding-left: 8px;
    padding-right: 16px;
    min-width: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
}

.assessmentButtonGreen {
    border: 1px solid #D1D5DB;
}

.assessmentButtonGreen:hover {
    border: 1px solid #22C55E;
    background-color: rgba(246, 255, 237, 0.4);
}

.assessmentButtonRed {
    border: 1px solid #D1D5DB;
}

.assessmentButtonRed:hover {
    border: 1px solid #ff4d4f;
    background-color: rgba(255, 241, 240, 0.4);
}

.assessmentButtonGreenActive {
    border: 1px solid #22C55E;
    background-color: rgba(246, 255, 237, 0.4);
}

.assessmentButtonRedActive {
    border: 1px solid #ff4d4f;
    background-color: rgba(255, 241, 240, 0.4);
}

.assessmentText {
    color: rgba(0, 0, 0, 0.45);
}

.assessmentTextGreen {
    color: #22C55E;
}

.assessmentTextRed {
    color: #ff4d4f;
}

.assessmentIcon {
    color: #D1D5DB;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.assessmentIconActive {
    color: #FBBF24;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.header {
    display: flex;
}

.headerTitleContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.interviewActionButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.notes {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 99;
    background-color: #ffffff;
    border-top: 5px solid #4B5563;
    box-shadow: 0 -4px 8px -2px rgba(16, 24, 40, 0.1), 0 -2px 4px -2px rgba(16, 24, 40, 0.06);
    padding-top: 20px;
}

.notesCollapsedDivider {
    width: 100%;
    border-top: 6px solid #9CA3AF;
    box-shadow: 0 -4px 8px -2px rgba(16, 24, 40, 0.1), 0 -2px 4px -2px rgba(16, 24, 40, 0.06);
}

.notesCollapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 99;
}

.notesHeader {
    display: flex;
    justify-content: space-between;
}

.iconNotesBig {
    color: #6B7280;
}

.iconNotesSmall {
    color: var(--color-background);
    font-size: 12px;
}

.notesSwitch {
    margin-left: 5px;
}

.quickNotesLabel {
    font-size: 18px;
    font-weight: 600;
}

.quickNotesLabelSmall {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-background);
    margin-left: 4px;
}

.reportLabel {
    color: #374151;
    font-size: 14px;
    line-height: 20px;
    margin-left: 8px;
}

.divHorizontal {
    display: flex;
    align-items: center;
}

.avatar {
    color: #8C2BE3;
    background-color: #F4EAFC;
    font-weight: 500;
    font-size: 14px;
}

.quickNotesLabelSmallHolder {
    display: flex;
    align-items: center;
    box-shadow: 0 -4px 8px -2px rgba(16, 24, 40, 0.1), 0 -2px 4px -2px rgba(16, 24, 40, 0.06);
    border-radius: 8px 8px 0 0;
    background-color: #9CA3AF;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

.notesTextArea {
    resize: none;
    padding: 0;
    margin-top: 16px;
}

.stickyNotes {
    background-color: #fbfbfb;
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    bottom: 0;
}

.questionNotesArea {
    resize: none;
    font-size: 14px;
}
