.reportInterviewInfoHolder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.reportInterviewCenter {
    justify-self: center;
}

.scoreHolder {
    display: flex;
    flex-direction: column;
}

.scoreText {
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 0;
}

.scoreLabel {
    font-size: 14px;
    margin-top: 8px;
}

.reportInterviewRight {
    justify-self: right;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divHorizontalCenter {
    display: flex;
    align-items: center;
}

.divider {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.competenceAreaRow {
    padding: 16px 24px;
}

.questionAreaRow {
    padding: 8px 24px 8px 0;
    display: flex;
    align-items: center;
}

.questionHolder {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.questionNotes {
    font-size: 14px;
    margin-top: 4px;
}

.notesTextArea {
    resize: none;
    padding: 24px;
}

.notesCard {
    width: 100%;
    height: 100%;
}

.notesRoot {
    margin-top: 30px;
}

.notesTitle {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.redFlagsHolder {
    padding: 16px 24px;
}