.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 10;
    width: calc(100% - 200px); /* side menu width is 200px */
    position: fixed;
    top: 0;
}

.headerTitleContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.headerTitle {
    font-size: 18px;
    font-weight: 700;
    margin-left: 8px;
}

.multiLineText {
    white-space: pre-wrap;
}

.rootContainer {
    margin-top: var(--header-height-with-padding);
}

.summary {
    margin-top: 64px;
}

.questionArea {
    margin-top: 64px;
}

.space {
    width: 100%;
    padding-top: 24px;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toc {
    position: fixed;
    top: calc(16px + var(--header-height-with-padding));
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.anchorLink {
    color: #8C8C8C;
    font-size: 13px
}

.hash {
    scroll-margin-top: var(--header-height-with-padding);
}