.rootContainer {
    background-color: var(--color-background);
    height: 100vh;
}

.logo {
    height: var(--logo-height);
    margin-left: -8px;
    margin-top: -8px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}