.notesTextArea {
    resize: none;
    padding: 24px;
}

.notesCard {
    width: 100%;
    height: 100%;
}

.notesTitle {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.redFlagsHolder {
    padding: 16px 24px;
}

.divider {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}
