.carouselTitle {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}

.carouselDescription {
    padding-left: 24px;
    padding-right: 24px;
}

.carouselItem {
    width: 100%;
    height: 100%;
}

.carouselImage {
    margin-top: 24px;
    max-width: 600px;
    height: 300px;
}

.carouselImageWrapper {
    text-align: center;
}

.arrowHolder {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.divider {
    margin: 0;
}
