.column {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.infoCard {
    background: var(--color-primary-50);
    border-radius: 8px;
    padding: 12px;
}

.infoText {
    color: var(--color-strong);
    font-weight: 500;
    margin-left: 12px;
}