.pageContent {
    margin-top: var(--header-height-with-padding);
    margin-left: 24px;
    margin-right: 24px;
}

.infoAlert {
    font-size: 16px;
    margin-bottom: 24px;
}

.headerSearch {
    width: 260px;
}

.card {
    padding: 16px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.multiLineText {
    white-space: pre-wrap;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardTitle {
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardMetaTitle {
    color: #8C8C8C;
    font-weight:  600;
    font-size: 11px
}