.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

.headerTitle {
    font-size: 18px;
    font-weight: 700;
}

.categories {
    margin-top: 24px
}

.headerSearch {
    width: 260px;
}

.card {
    padding: 16px
}

.multiLineText {
    white-space: pre-wrap;
}

.cardTitle {
    font-weight: 700;
    font-size: 18px;
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardMetaTitle {
    color: #8C8C8C;
    font-weight:  600;
    font-size: 11px
}

.cardMetaValue {
    font-weight:  700;
    font-size: 18px
}

.cardActionButton {
    position: absolute;
    right: 8px;
    bottom: 16px;
}

.author {
    color: #8C8C8C;
    font-size: 14px;
}

.category {
    font-weight: 600;
    font-size: 12px;
    margin-left: 4px;
}

.personal {
    font-weight: 600;
    font-size: 15px;
}

.community {
    font-weight: 600;
    font-size: 15px;
}