.header {
    text-align: center;
    padding: 24px;
}

.subTitle {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.45);
}

.card {
    padding: 24px 12px 24px 24px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
}

.cardIcon {
    padding-right: 16px;
}

.cardTitle {
    display: flex;
    flex-direction: column;
}

.row {
    cursor: pointer;
}

.demoTag {
    margin-left: 10px;
}
