.rootContainer {
    padding: 40px;
}

.rowEnd {
    margin-top: 12px;
    margin-bottom: 12px;
}

.header {
    display: flex;
}

.headerTitleContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

