.rootContainer {
    padding: 40px;
}

.divRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
}

.inviteUrlHolder {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.buttonPrimaryLight {
    background-color: #f4eafc;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rolesButton {
    font-size: 14px;
    color: #6b7280;
}

.roleItem {
    display: flex;
    justify-content: space-between;
}

.hasRole {
    width: 40px;
    text-align: right;
}
