.rootContainer {
    padding: 40px;
}

.divRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
}

.inviteUrlHolder {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.buttonPrimaryLight {
    background-color: #F4EAFC;
}