.rootContainer {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
}

.divVerticalCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decisionCard {
    border-top: 6px solid #8c2be3;
    width: 100%;
}

.decisionTextHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reportInterviewInfoHolder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

.divHorizontal {
    display: flex;
    align-items: center;
}

.reportLabel {
    color: #374151;
    font-size: 14px;
    line-height: 20px;
    margin-left: 8px;
}

.reportInterviewCenter {
    justify-self: center;
}

.scoreHolder {
    display: flex;
    flex-direction: column;
}

.scoreText {
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 0;
}

.scoreLabel {
    font-size: 14px;
    margin-top: 8px;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.competenceAreaRow {
    padding: 16px 24px;
}

.divHorizontalCenter {
    display: flex;
    align-items: center;
}

.questionAreaRow {
    padding: 8px 24px 8px 0;
    display: flex;
    align-items: center;
}

.questionHolder {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.questionNotes {
    font-size: 14px;
    margin-top: 4px;
}

.notesTextArea {
    resize: none;
    padding: 24px;
}

.header {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    padding: 0 32px;
    height: 80px;
    box-shadow: 0 1px 3px rgba(16, 24, 40, 0.1), 0 1px 2px rgba(16, 24, 40, 0.06);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
}

.logo {
    height: 70px;
}

.subheader {
    font-size: 14px;
}

.candidate {
    display: flex;
    flex-direction: column;
}

.recommendation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
