.row {
    cursor: pointer;
}

.header {
    text-align: center;
    padding: 24px;
}

.subTitle {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.45);
}
.addContainer {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
