.rootContainer {
    padding: 40px;
}

.row {
    cursor: pointer;
}

.label {
    font-size: 14px;
    color: #6B7280;
}

.iconHolder {
    border: 1px solid #E5E7EB;
    box-sizing: border-box;
    border-radius: 6px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    padding: 24px;
}

.subTitle {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.45);
}
.divRight {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 12px;
}

.select {
    min-width: 230px;
    margin-left: 16px;
}

.headerSearch {
    width: 300px;
}
