.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 12px 32px;
}

.backButton {
    margin-right: auto;
}

.feature {
    text-align: center;
    display: flex;
    justify-content: center;
}
