:root {
    --header-height: 70px;
}

.header {
    z-index: 10;
    width: calc(100% - 200px); /* side menu width is 200px */
    height: var(--header-height);
    position: fixed;
    top: 0;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.headerTitleContainer {
    margin-left: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.headerTitle {
    font-size: 20px;
    font-weight: 600;
}

.categories {
    margin-top: 24px
}

.tabHeaderSearch {
    width: 260px;
}

.tabHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.space {
    flex-grow: 1;
}

.questionLink {
    color: #282c34;
    width: 500px;
}

.questionLink:hover  {
    color: #40a9ff;
}

.row {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tableContainer {
    flex-grow: 1;
}

.table {
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    border-radius: 2px;
    margin-top: calc(24px + var(--header-height));
    margin-bottom: 24px;
}

.card {
    padding: 24px
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.multiLineText {
    white-space: pre-wrap;
}