.inviteForm {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.inviteEmail {
    flex: 1;
    margin-right: 12px;
}

.inviteRole {
    min-width: 180px;
    margin-right: 12px;
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roleItem {
    display: flex;
    justify-content: space-between;
}

.hasRole {
    width: 40px;
    text-align: right;
}