.questionWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.questionBody {
    flex-grow: 1;
}

.space {
    flex-grow: 1;
}

.questionHeader {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
}

.addIcon  {
    cursor: pointer;
    /*padding-left: 12px;*/
    /*padding-right: 12px;*/
    /*padding-top: 16px;*/
    /*padding-bottom: 16px;*/
}