.pageHeader {
    background-color: white;
}

.questionGroupCard {
    margin-right: 12px;
    height: 700px;
}

.questionBankCard {
    margin-left: 12px;
    height: 700px;
}

.divider {
    margin-bottom: 0;
}

.questionDragging {
    background: #fafafa;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 16px;
}

.questionDragging td {
    visibility: visible;
}

.questionDragging .dragVisible {
    visibility: visible;
}

.questionDragging .questionVisible {
    visibility: visible;
    padding-left: 12px;
    padding-right: 12px;
    flex-grow: 1;
}

.questionWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.questionBody {
    padding-left: 12px;
    flex-grow: 1;
}

.space {
    flex-grow: 1;
}

.cardHeader {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    height: 32px;
}

.reorderIcon {
    cursor: pointer;
    font-size: 20px;
}

.addIcon  {
    padding-top: 16px;
    padding-bottom: 16px;
}

.removeIcon  {
    cursor: pointer;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.row {
    cursor: pointer;
}