.rootContainer {
    padding: 0;
}

.candidateInfoContainer {
    padding: 40px;
}

.label {
    font-size: 14px;
}

.avatar {
    background-color: var(--color-primary);
}

.divSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divInfo {
    display: flex;
    flex-direction: column;
}

.divider {
    background-color: #E5E7EB;
    margin-top: 24px;
    margin-bottom: 24px;
}

.archiveBackground {
    background: var(--color-primary-50);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.archiveTextContainer {
    display: flex;
    align-items: center;
}

.archiveTextDark {
    font-size: 14px;
    color: var(--color-strong);
    font-weight: 600;
}

.archiveTextLight {
    margin-left: 4px;
    font-size: 14px;
    color: var(--color-strong);
}