.card {
    height: 210px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.cardTitle {
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardDescription {
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.cardLabel {
    color: #6B7280;
    font-weight: 500;
    font-size: 12px;
}

.cardHeaderContainer {
    display: flex;
    align-items: center;
}

.tagHolder {
    position: absolute;
    top: 16px;
    right: 24px;
}

.icon {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    height: 64px;
    width: 64px;
    border-radius: 24px;
}

.author {
    color: #8c8c8c;
    font-size: 14px;
}

.category {
    font-weight: 600;
    font-size: 12px;
    margin-left: 4px;
}

.cardActions {
    position: absolute;
    left: 16px;
    top: 0;
    right: 16px;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
    backdrop-filter: blur(10px);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .cardActions {
        position: absolute;
        left: 16px;
        top: 0;
        right: 16px;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.25s ease;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.cardActions:hover {
    opacity: 1;
}

.cardButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cardButton {
    width: 180px;
}

.cardButtonSecondary {
    border-color: #8C2BE3;
    color: #8C2BE3;
    width: 180px;
}