.card {
    padding: 12px 24px;
    margin-top: 24px;
}

.premium {
    background-color: #8C2BE3;
    margin-top: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.name {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    color: #111827;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    font-weight: 300;
}

.namePremium {
    color: white;
}

.title {
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    color: #111827;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 24px;
}

.titlePremium {
    color: white;
}

.subtitle {
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #6b7280;
    margin-top: 12px;
}

.subtitlePremium {
    color: white;
}

.divider {
    width: 30px;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: hsla(0, 0%, 82.4%, 0.2);
}
.featuredWrapper {
    border-radius: 8px;
    background-color: #F9FAFB;
    padding: 32px;
}

ul.features {
    padding-left: 0;
    list-style: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
    margin-bottom: 60px;
}

.feature {
    display: flex;
    margin-bottom: 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 36px;
    list-style: none;
}

.featureImg {
    margin-top: 0;
    margin-right: 6px;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.featureName {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
