.divRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
}

.divContent {
    width: 100%;
    height: 100vh;
    padding: 24px;
    background-color: var(--color-background);
}